{{define "base"}}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Experience Theater"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/css/normalize.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/jquery.min.js"></script>
    <title>{{template "title" .}} - Curtain Call</title>
</head>

<body>
    <header>
        <nav>
            <a href='/'><img alt='Logo' src='/static/img/logo_transparent.png' height='70'></a>
            {{if .IsAuthenticated}}
                <a href='/theater/create'>Create Theater</a>
            {{end}}
            <div style='text-align:right'>
            {{if .IsAuthenticated}}
                <form action='/user/logout' method='POST'>
                    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                    <button>Logout</button>
                </form>
            {{else}}
                <a href='/user/signup'>Signup</a>
                <a href='/user/login'>Login</a>
            {{end}}
            <div>
        </nav>
        <h1>Welcome to Curtain Call!</h1>
        <p>We hope you enjoy the show</p>
        <br>
    </header>
    <main>
        {{with .Flash}}
        <div class='flash '>{{.}}</div>
        {{end}}
        {{template "main" .}}   
    </main>
    {{template "footer" .}} 
</body>
</html>
{{end}}
