{{define "base"}}
<!DOCTYPE html>
<html lang='en'>

<head>
    <link rel='shortcut icon' href='/static/img/favicon.png' type='image/x-icon'>
    <link rel='stylesheet' href='/static/css/main.css'>

    <meta charset='utf-8'>
    <meta name='description' content='Experience Theater'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>{{template "title" .}} - Curtain Call</title>
</head>

<body>
    <header>
        <nav>
            <a href='/'><img alt='Logo' src='/static/img/logo_transparent.png' height='70'></a>
            <a href='/'>Home</a>
            <a href='/user/signup'>Signup</a>
            <a href='/user/login'>Login</a>
            <form action='user/logout' method='POST'>
                <button>Logout</button>
            </form>
        </nav>
        <h1>Welcome to Curtain Call!</h1>
        <p>We hope you enjoy the show</p>
        <br>
    </header>
    <main>
        {{with .Flash}}
        <div class='flash '>{{.}}</div>
        {{end}}
        {{template "main" .}}   
    </main>
    {{template "footer" .}} 
</body>
</html>
{{end}}
