{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<div>
  <h3>View Our Participating <a href="/theaters">Theaters</a></h3>
  <ul>
    <li>Interactive and Digital Playbills</li>
    <li>View Additional Details About Performers</li>
    <li>Give Additional Curtain Calls to Performers</li>
    <li>Thank Donors for Their Generousity</li>
  </ul>
<div>
{{end}}

