{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<hr>
    <section>
        <header>
            <h2>Theaters</h2>
        </header>
        {{if .Theaters}}
        {{range .Theaters}}
            <aside>
                <h3><a href=/theater/{{.ID}}>{{.Name}}<a></h3>
            </aside>
        {{end}}
        {{else}}
            <p>No Theaters have playbills yet.</p>
        {{end}}
    </section>
</hr>
{{end}}

