
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">

    <meta charset="utf-8">
    <meta name="description" content="Experience Theater">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Curtain Call</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="/static/img/logo_transparent.png" height="70"></a>
            <a href="/">Home</a>
        </nav>
        <h1>Welcome to Hamilton!</u></h1>
        <p>We hope you enjoy the show</p>
        <br>
    </header>
    <main>
        <hr>
        <section>
            <header>
                <h2>Hamilton</h2>
            </header>
            <aside>
                <h3>The Cast</h3>
                <p>Take a peak at tonights Cast</p>
            </aside>
            <aside>
                <h3>Musical Numbers</h3>
                <p>Listen to your favorite songs.<sup>Spotify</sup></p>
            </aside>
            <aside>
                <h3>Thank Our Donors</h3>
                <p>Tonights Featured Donors, Principal Financial Group</p>
            </aside>
        </section>
        <hr>
        <section>
            <blockquote>
                "This will be something Special"
                <footer><i>- Eric Mackland, CEO DSM Performing Arts</i></footer>
            </blockquote>
        </section>
        <hr>
    </main>
    <footer>
    </footer>
</body>
</html>
