{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "main"}}

<div class="container">
  <div class="row">
    <div class="one column">Column</div>
  </div>
  <div class="row">
    <div class="half column">Half column</div>
    <div class="half column">Half column</div>
  </div>
</div>

{{end}}
