{{template "base" .}}

{{define "title"}}Theater - {{.Theater.Name}}{{end}}

{{define "main"}}

<hr>
    <section>
        <header>
            <h2>{{.Theater.Name}}-{{.Theater.ID}}</h2>
        </header>
            <aside>
                <h3>Hamilton</h3>
            </aside>
            <aside>
                <h3>Dear Evan Hansen</h3>
            </aside>
    </section>
</hr>


{{end}}
