{{template "base" .}}

{{define "title"}}Theater - {{.Name}}{{end}}

{{define "main"}}

<hr>
    <section>
        <header>
            <h2>{{.Name}}-{{.ID}}</h2>
        </header>
    </section>
</hr>


{{end}}
