{{template "base" .}}

{{define "title"}}Show - {{.Show.Name}}{{end}}

{{define "main"}}

<hr>
    <section>
        <header>
            <h2>{{.Show.Name}}</h2>
        </header>
            <p>Performers</p>
            <p>Musical Numbers!</p>
            <p>A Thanks from Our Donors</p>
    </section>
</hr>

{{end}}
